<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto" package="com.adamsapplications.chessscorekeeper">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
	<application android:theme="null" android:label="Chess Scorekeeper" android:icon="res/drawable-mdpi/ic_launcher.png" android:allowBackup="true">
		<activity android:theme="@android:style/Theme.Translucent" android:label="Chess Scorekeeper" android:name="com.adamsapplications.chessscorekeeper.MainActivity" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
